{% extends "base.html.twig" %}
{% block main %}
    <h1>Show</h1>
    <p>Primary key : {{ entity.pk }}</p>
    {% for attr in entity.attributes %}
        <p>{{ attr|humanize }} : {{ attribute(entity, attr) }}</p>
    {% endfor %}
{% endblock %}