{% extends "base.html.twig" %}

{% block main %}
    <div x-data="familyTree">
        <ul>
            <template x-for="(level, i) in families">
                <li x-html="renderLevel(level, i)"></li>
            </template>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('familyTree', () => ({
                    families: [
                        {
                            id: 1,
                            name: 'Lupe',
                            children: [
                                {
                                    id: 3,
                                    name: 'Bertha',
                                    children: [
                                        {
                                            id: 5,
                                            name: 'Hollywood',
                                        },
                                    ],
                                },
                                {
                                    id: 9,
                                    name: 'Pinnick',
                                    children: [
                                        {
                                            id: 10,
                                            name: 'Andy',
                                            children: []
                                        },
                                    ]
                                },
                            ]
                        },
                        {
                            id: 2,
                            name: 'Smitty',
                            children: [
                                {
                                    id: 4,
                                    name: 'Vito',
                                    children: []
                                },
                            ],
                        }
                    ],

                    renderLevel(obj, i) {
                        let has_children = obj.children && obj.children.length
                        let html = `<span style="padding-left: 10px;"
                      x-html="'${has_children ? '> ' : '- '}' + level.name"></span>`;

                        if (obj.children) {
                            html += `<ul style="padding-left: 10px; padding-bottom: 10px;">
                                         <template x-for="(level,i) in level.children">
                                             <li x-html="renderLevel(level,i)"></li>
                                         </template>
                                       </ul>`;
                        }

                        return html;
                    },
                }))
        })
    </script>
{% endblock %}
