{% extends "base.html.twig" %}

{% block main %}
    <div x-data="familyTree">
        <template x-for="(level, i) in families">
            <div class="pure-g" x-html="renderLevel(level, i)"></li>
        </template>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('familyTree', () => ({
                    families: [
                        {
                            name: 'Lupe',
                            children: [
                                {
                                    name: 'Bertha',
                                    children: [
                                        {
                                            name: 'Hollywood',
                                        },  
                                        {
                                            name: 'Yolo',
                                        },
                                    ],
                                },
                                {
                                    name: 'Pinnick',
                                    children: [
                                        {
                                            name: 'Andy',
                                            children: []
                                        },
                                    ]
                                },
                            ]
                        },
                        {
                            name: 'Smitty',
                            children: [
                                {
                                    name: 'Vito',
                                    children: []
                                },
                                {
                                    name: 'Danny',
                                    children: []
                                },
                                {
                                    name: 'Penguin',
                                    children: []
                                },
                            ],
                        }
                    ],

                    renderLevel(obj, i) {
                        let has_children = obj.children && obj.children.length
                        let html = `<div class="pure-u-1-12"></div><div class="pure-u-11-12"
                      x-text="level.name"></div>`;

                        if (obj.children) {
                            html += `<div class="pure-u-1-12"></div>
                                    <div class="pure-u-11-12">
                                        <template x-for="(level,i) in level.children">
                                            <div class="pure-g" x-html="renderLevel(level,i)"></div>
                                        </template>
                                    </div>`;
                        }

                        return html;
                    },
                }))
        })
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
{% endblock %}